/*body {
    padding-top: 70px;
}*/
header {
    background-color: powderblue;
    position: fixed;
    padding-left: 15px;
    width: 100%;
    z-index: 10;
    top: 0;
}
header h1 {
    color: white;
}
form {
    background-color: aliceblue;
    padding: 20px 10px 5px 10px;
    margin-bottom: 10px;
    border: solid 1px lightblue;
}
.react-datepicker__header {
    background-color: powderblue !important;
}
.react-datepicker__navigation--next {
    border-left-color: #aaa;
}
.react-datepicker__navigation--previous {
    border-right-color: #aaa;
}
.react-datepicker__day:hover {
    background-color: powderblue !important;
}
.results-list .row.results-list-head {
    background: black;
    color: white;
    font-weight: bolder;
    padding: 5px;
}
.results-list .row {
    margin-left: 0;
    margin-right: 0;
    font-size: smaller;
    border-bottom: solid 1px lightgrey;
}
.infinite-scroll-component  .row:hover {
    background:aliceblue;
}

    